<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--
        INTERNET diperlukan Flutter tool
        untuk hot reload dan debugging.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!--
        Izinkan HTTP tanpa HTTPS hanya pada build DEBUG.
        
        Ini diperlukan jika API Laravel lokal menggunakan:
        http://10.0.2.2:8000
    -->
    <application
        android:usesCleartextTraffic="true" />

</manifest>